.loader{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    animation: smokeOut 1s ease-in-out infinite alternate;
    text-shadow: 0 0 1px white;
  }
  .loader:before {
    content: "Loading";
  }

  @keyframes smokeOut {
    100% {
      opacity: 0.08;
      filter: blur(5px);
      letter-spacing: 4px;
    }
  }



.animate-slideIn{
    animation: slideIn 10s ease-in-out;
}

@keyframes slideIn {
    0% { 
        opacity: 0;
        transform: translateX(100%) ;
      }
      10% { 
        opacity: 1;
        transform: translateX(-10%) ;
      }
      15%{ 
        opacity: 1;
        transform: translateX(0%) ; 
      }
      95% { 
        opacity: 1;
        transform: translateX(0%);
      }
      100% { 
        opacity: 0;
        transform: translateX(0%);
      }
}